mixin theme-switcher(options={})
  - let { mix } = options

  .theme-switcher(class=mix)
    label.theme-switcher__label Dark Mode
      input.theme-switcher__control(
        type="checkbox",
        class="screen-reader js-theme-switcher__control"
      )
      span.theme-switcher__toggle
