extends base

include ./components/header/header
include ./components/stats/stats
include ./components/overview/overview
include ./components/footer/footer

block content
  +header
  main
    +stats
    +overview
  +footer
  